[submodule "packages/rehype-tree-sitter/grammars/tree-sitter-nix"]
	path = packages/rehype-tree-sitter/grammars/tree-sitter-nix
	url = https://github.com/nix-community/tree-sitter-nix
[submodule "packages/rehype-tree-sitter/grammars/tree-sitter-typescript"]
	path = packages/rehype-tree-sitter/grammars/tree-sitter-typescript
	url = https://github.com/tree-sitter/tree-sitter-typescript
[submodule "packages/rehype-tree-sitter/grammars/tree-sitter-bash"]
	path = packages/rehype-tree-sitter/grammars/tree-sitter-bash
	url = https://github.com/tree-sitter/tree-sitter-bash
[submodule "packages/rehype-tree-sitter/grammars/tree-sitter-ruby"]
	path = packages/rehype-tree-sitter/grammars/tree-sitter-ruby
	url = https://github.com/tree-sitter/tree-sitter-ruby
[submodule "packages/rehype-tree-sitter/grammars/tree-sitter-comment"]
	path = packages/rehype-tree-sitter/grammars/tree-sitter-comment
	url = https://github.com/stsewd/tree-sitter-comment
[submodule "packages/rehype-tree-sitter/grammars/tree-sitter-c"]
	path = packages/rehype-tree-sitter/grammars/tree-sitter-c
	url = https://github.com/tree-sitter/tree-sitter-c.git
[submodule "packages/rehype-tree-sitter/grammars/tree-sitter-printf"]
	path = packages/rehype-tree-sitter/grammars/tree-sitter-printf
	url = https://github.com/tree-sitter-grammars/tree-sitter-printf
