@use "../../theme/_wave.scss";
@use "./syntax.scss";
@use "./code.scss";
@use "./alerts.scss";
@use "./post.scss";
@use "./main-menu.scss";
@use "./links.scss";
@use "./tables.scss";
@use "./post-listing.scss";

html {
  font-weight: 400;
  display: flex;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;

  background-color: wave.$sumiInk1;
  color: wave.$fujiWhite;

  scroll-behavior: smooth;
  scroll-padding-top: 80px;

  transition:
    background-color 0.2s ease,
    color 0.2s ease;

  body {
    width: 100%;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    font-size: 1.05rem;
    height: 100%;
    margin: 0;
    font-family: "Lexend Deca Variable", sans-serif;
    font-weight: 300;
    line-height: 1.6;

    display: flex;
    flex-direction: column;
    align-items: center;

    strong {
      font-weight: 700;
    }

    main {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: min(850px, 90vw);

      padding-top: 50px;
      padding-bottom: 20px;

      blockquote {
        $margin: 3%;
        margin-left: $margin;
        margin-right: $margin;
        border-left: solid 4px wave.$sumiInk6;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 8px;
        padding-top: 2px;
        padding-bottom: 2px;
        background-color: color-mix(in srgb, wave.$sumiInk5 20%, transparent);
      }

      @keyframes shimmer {
        0% {
          background-position: 200% 0;
        }
        100% {
          background-position: -200% 0;
        }
      }
      img {
        border-radius: 4px;
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0.02) 25%,
          rgba(255, 255, 255, 0.04) 50%,
          rgba(255, 255, 255, 0.06) 75%
        );
        background-size: 200% 100%;
        animation: shimmer 2.6s infinite;

        margin: 0;
        overflow: scroll;
        height: auto;
        min-width: min(80%);
        margin-left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  li::marker {
    color: wave.$surimiOrange;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Inter Tight Variable", sans-serif;
    font-weight: 800;
    margin: 0;
  }

  h1 {
    font-size: 25.5pt;
    color: wave.$crystalBlue;
  }
  h2 {
    color: wave.$carpYellow;
  }
  h3 {
    color: wave.$peachRed;
  }
  h4 {
    color: wave.$roninYellow;
  }
  h5 {
    color: wave.$oniViolet2;
  }
  h6 {
    color: wave.$sakuraPink;
  }

  ::selection {
    background-color: wave.$sakuraPink;
    color: wave.$sumiInk0;
  }

  footer {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;

    justify-content: center;
    background-color: wave.$waveBlue1;
    margin-top: auto;
    min-height: 80px;
    width: 100%;
  }
}
