@use "@/style/theme/_wave.scss";
@use "./syntax.scss";
@use "./code.scss";
@use "./alerts.scss";
@use "./post.scss";
@use "./main-menu.scss";
@use "./links.scss";
@use "./tables.scss";
@use "./post-listing.scss";
@use "./typst.scss";

html {
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  color-scheme: dark;
  height: 100%;
  width: 100%;

  background-color: wave.$sumiInk1;
  color: wave.$fujiWhite;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }

  scroll-padding-top: 80px;

  body {
    transition:
      background-color 0.2s ease,
      color 0.2s ease;

    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;

    font: {
      family: "Lexend Variable", sans-serif;
    }

    strong {
      // Increase the brightness of bold text by 10%
      color: oklch(from currentColor calc(l * 1.1) c h);
    }

    line-height: 1.5;

    display: flex;
    flex-direction: column;
    align-items: center;

    main {
      &:focus {
        outline: none;
      }

      display: flex;
      flex-direction: column;
      max-width: min(850px, 92%);

      padding-top: 50px;
      padding-bottom: 20px;

      blockquote {
        $margin: max(2%, 4px);
        margin-left: $margin;
        margin-right: $margin;
        border-left: solid 4px wave.$sumiInk6;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 8px;
        padding-top: 2px;
        padding-bottom: 2px;
        background-color: color-mix(in srgb, wave.$sumiInk5 20%, transparent);
      }

      img {
        border-radius: 4px;
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0.02) 25%,
          rgba(255, 255, 255, 0.04) 50%,
          rgba(255, 255, 255, 0.06) 75%
        );
        background-size: 200% 100%;

        @keyframes shimmer {
          0% {
            background-position: 200% 0;
          }
          100% {
            background-position: -200% 0;
          }
        }
        animation: shimmer 2.6s infinite;

        content-visibility: auto;

        // Disable the animation if the image is loaded, the `.loaded` class is
        // added by a script
        &.loaded {
          animation: none;
          background: none;
        }
        max-width: 100%;
      }
    }
  }

  li::marker {
    color: wave.$surimiOrange;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Inter Tight Variable", sans-serif;
    font-weight: 800;
    margin: 0;
  }

  h1 {
    font-size: 25.5pt;
    color: wave.$crystalBlue;
  }
  h2 {
    color: wave.$carpYellow;
  }
  h3 {
    color: wave.$peachRed;
  }
  h4 {
    color: wave.$roninYellow;
  }
  h5 {
    color: wave.$oniViolet2;
  }
  h6 {
    color: wave.$sakuraPink;
  }

  ::selection {
    background-color: wave.$sakuraPink;
    color: wave.$sumiInk0;
  }

  footer {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;

    justify-content: center;
    background-color: wave.$waveBlue1;
    margin-top: auto;
    min-height: 80px;
    width: 100%;
  }
}
