$sumiInk0: #16161D;
$sumiInk1: #181820;
$sumiInk2: #1a1a22;
$sumiInk3: #1F1F28;
$sumiInk4: #2A2A37;
$sumiInk5: #363646;
$sumiInk6: #54546D;
$waveBlue1: #223249;
$waveBlue2: #2D4F67;
$winterGreen: #2B3328;
$winterYellow: #49443C;
$winterRed: #43242B;
$winterBlue: #252535;
$autumnGreen: #76946A;
$autumnRed: #C34043;
$autumnYellow: #DCA561;
$samuraiRed: #E82424;
$roninYellow: #FF9E3B;
$oldWhite: #C8C093;
$fujiWhite: #DCD7BA;
$fujiGray: #727169;
$oniViolet: #957FB8;
$oniViolet2: #b8b4d0;
$crystalBlue: #7E9CD8;
$springViolet1: #938AA9;
$springViolet2: #9CABCA;
$springBlue: #7FB4CA;
$lightBlue: #A3D4D5;
$waveAqua1: #6A9589;
$waveAqua2: #7AA89F;
$waveAqua3 : #68AD99;
$waveAqua4 : #7AA880;
$waveAqua5 : #6CAF95;
$springGreen: #98BB6C;
$boatYellow1: #938056;
$boatYellow2: #C0A36E;
$carpYellow: #E6C384;
$sakuraPink: #D27E99;
$waveRed: #E46876;
$peachRed: #FF5D62;
$surimiOrange: #FFA066;
$katanaGray: #717C7C;
