---
import BaseLayout from '@/layouts/base/base.astro';

import './_style.scss';
---


<BaseLayout pageTitle="Contact">
  <contact-wrapper>
    <h1 class="page-title">Contact Info</h1>
    <p>I can be reached in two locations:</p>
    <ul>
        <li><a href="mailto:blog@pricehiller.com">blog@pricehiller.com</a></li>
        <li><a href="https://github.com/PriceHiller/blog">At the Github repository for this website</a></li>
    </ul>
    <p>
        I should take no more than 48 hours to get back to you. If you haven't received a response in 48 hours, please send or update a comment with a ping to me. I probably earmarked it and forgot to come back to it or didn't see it.
    </p>
  </contact-wrapper>
</BaseLayout>
