---
import BaseLayout from "@/layouts/base/base.astro";
import { ArticleTag, PostListing } from "@/components/Posts";
import { Posts } from "@/utils/posts";

import "./_slug.scss";

export async function getStaticPaths() {
  const tags = Posts.allTags();
  return tags.map((tag) => {
    const posts = Posts.taggedWith(tag.tag);
    return {
      params: { slug: tag.tag },
      props: { posts },
    };
  });
}

const { slug: tag } = Astro.params;
let { posts } = Astro.props;
---

<BaseLayout pageTitle={`Posts Tagged ${tag}`}>
  <h1>{tag}</h1>
  <strong class="posts-tagged">Posts tagged<ArticleTag tag={tag} /></strong>
  <PostListing posts={posts} />
</BaseLayout>
