---
import BaseLayout from '@/layouts/base/base.astro';
import { ArticleTag, PostListing } from '@/components/Posts';
import { getAllTags, groupPostsByDate, type Post } from '@/utils/posts';

import './_slug.scss';


export async function getStaticPaths() {

const tags = await getAllTags();
return [...tags.keys().map(tag => ({
  params: { slug: tag },
 props: { posts: tags.get(tag) },
}))];
}

const { slug: tag } = Astro.params;
let { posts } = Astro.props;
posts =  posts ?? [] as Post[];
---

<BaseLayout pageTitle={`Posts Tagged ${tag}`}>
  <h1>{tag}</h1>
  <strong class="posts-tagged">Posts tagged<ArticleTag tag={tag}/></strong>

  <PostListing posts={groupPostsByDate(posts)} />
</BaseLayout>
