main {
  display: flex;
  flex-direction: column;

  > h1:first-of-type {
    padding: 10px;
  }

  article-tags {
    justify-content: center;
    width: min(350px, 95%);
    flex-wrap: wrap;
    font-weight: bold;
  }
}
