---
import BaseLayout from '@/layouts/base/base.astro';
import { ArticleTagsWithCount } from '@/components/Posts.tsx'
import { Posts } from '@/utils/posts';

import './_index.scss';


const tagCounts = Posts.allTags();

---

<BaseLayout pageTitle="Tags">
  <h1>Tags</h1>
  <ArticleTagsWithCount tags={tagCounts} />
</BaseLayout>
