---
import { Picture } from 'astro:assets';

import maggieEllieComfy from './_index/maggie-ellie-comfy.jpeg'
import BaseLayout from '@/layouts/base/base.astro';
---


<BaseLayout pageTitle="Home">
    <p>Hi there! This is the blog and whatever else it may become of Price Hiller.</p>
    <p>The gatekeepers of <strong>THE LORE</strong>: <Picture src={maggieEllieComfy}
        alt="Black labrador and yellow labrador dogs sleeping on bed with blankets over them" width={700}
        priority
        formats={['avif','webp']}
        layout="constrained"
      >
    </p>
</BaseLayout>
