$lotusInk1: #545464;
$lotusInk2: #43436c;
$lotusGray: #dcd7ba;
$lotusGray2: #716e61;
$lotusGray3: #8a8980;
$lotusWhite0: #d5cea3;
$lotusWhite1: #dcd5ac;
$lotusWhite2: #e5ddb0;
$lotusWhite3: #f2ecbc;
$lotusWhite4: #e7dba0;
$lotusWhite5: #e4d794;
$lotusViolet1: #a09cac;
$lotusViolet2: #766b90;
$lotusViolet3: #c9cbd1;
$lotusViolet4: #624c83;
$lotusBlue1: #c7d7e0;
$lotusBlue2: #b5cbd2;
$lotusBlue3: #9fb5c9;
$lotusBlue4: #4d699b;
$lotusBlue5: #5d57a3;
$lotusGreen: #6f894e;
$lotusGreen2: #6e915f;
$lotusGreen3: #b7d0ae;
$lotusPink: #b35b79;
$lotusOrange: #cc6d00;
$lotusOrange2: #e98a00;
$lotusYellow: #77713f;
$lotusYellow2: #836f4a;
$lotusYellow3: #de9800;
$lotusYellow4: #f9d791;
$lotusRed: #c84053;
$lotusRed2: #d7474b;
$lotusRed3: #e82424;
$lotusRed4: #d9a594;
$lotusAqua: #597b75;
$lotusAqua2: #5e857a;
$lotusTeal1: #4e8ca2;
$lotusTeal2: #6693bf;
$lotusTeal3: #5a7785;
$lotusCyan: #d7e3d8;
